<div class="movie-item">
    <h3>{{movie.name}}</h3>
    <div class="movie-item__content">
        <img class="movie-item__poster" src="{{movie.poster_url}}" alt="{{movie.name}} Poster" />
        <div class="movie-item__description">
            <p>{{movie.description}}</p>
            <a href="/movies/{{movie.id}}">View details</a>
        </div>
    </div>
</div>